<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> AdminConsole </title>
  <link rel="stylesheet" href="../css/admin_style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>

      <li class="log_out">
        <a href="#">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      <div class="profile-details">
        <img src="../images/chef.png" alt="">
        <span class="admin_name">Prem Shahi</span>
        <i class='bx bx-chevron-down'></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="lish-boxes">
        <div class="recent-lish box">
          <div class="title">User Management</div>
          <div class="lish-details">
            <div class="header_wrap">
            </div>
            <table class="table table-striped table-class" id="table-id">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <img src="../images/chef.png" alt="ผู้ใช้งาน">
                  </td>
                  <td>Toby</td>
                  <td>nt@mi.co.uk</td>
                  <td>13666</td>
                  <td>
                    <div class="button">
                      <a class="view" href="#">View</a>&nbsp
                      <a class="edit" href="#">Edit</a>&nbsp
                      <a class="delete" href="#">Delete</a>
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>2</td>
                  <td>
                    <img src="../images/chef.png" alt="ผู้ใช้งาน">
                  </td>
                  <td>Anna</td>
                  <td>erat@veum.ca</td>
                  <td>8180</td>
                  <td>
                    <div class="button">
                      <a class="view" href="#">View</a>&nbsp
                      <a class="edit" href="#">Edit</a>&nbsp
                      <a class="delete" href="#">Delete</a>
                    </div>
                  </td>
                </tr>

              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>

</body>

</html>