<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>
  <link rel="stylesheet" href="css/Chang_member.css" />
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
  <nav class="sidebar">
    <a class="logo">Menu</a>

    <div class="menu-content">
      <ul class="menu-items">
        <li class="item">
          <a href="/index">
            <c class="fa-solid fa-clipboard-list"></c>กระทู้
          </a>
        </li>
        <li class="item">
          <a href="/Admin_Chang">
            <c class="fa-solid fa-users-rectangle"></c>จัดการสิทธิ์
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar">
    <i class="fa-solid fa-bars" id="sidebar-close"></i>
    <strong style="font-size: 31px;position: static;">Dashboard</strong>
    <div class="search-box">
      <form action="">
        <input type="text" name="search" id="srch" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <a style="font-size:14px;color: aliceblue;" href="#"> </a>
  </nav>
  <main class="main">
    <table>
      <tr>
        <th>ชื่อ</th>
        <th>อีเมล</th>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>johndoe@example.com</td>
      </tr>
      <tr>
        <td>Jane Doe</td>
        <td>janedoe@example.com</td>
      </tr>
    </table>

  </main>
  <!-- slide bar affect -->
  <script src="js/script.js"></script> 
</body>

</html>