<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebBoard_สร้างกระทู้</title>
  <link rel="stylesheet" href="css/post_board.css">
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
  <nav class="sidebar">
    <a class="logo">Menu</a>

    <div class="menu-content">
      <ul class="menu-items">
        <li class="item">
          <a href="/">
            <c class="fa-solid fa-house"></c>หน้าหลัก
          </a>
        </li>
        <li class="item">
          <a href="/post_board">
            <c class="fa-solid fa-pen-to-square"></c>สร้างกระทู้
          </a>
        </li>

        <li class="item">
          <a href="/my_board">
            <c class="fa-solid fa-clipboard-user"></c>กระทู้ของฉัน
          </a>
        </li>

        <li class="item">
          <a href="#">
            <c class="fa-solid fa-ranking-star"></c>ประวัติการโพสต์
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar">
    <i class="fa-solid fa-bars" id="sidebar-close"></i>
    <strong style="font-size: 31px;position: static;">Board</strong>
    <div class="search-box">
      <form action="" class="search-form">
        <input type="text" name="search" id="srch" placeholder="Search" class="search-input">
        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
      </form>
    </div>
    
      <div class="user-info">
        <i class="fa-solid fa-user"></i>
      <% if (user) { %>
        <a style="font-size:14px;color: aliceblue;" href="/profile"><%= user.username %></a>
        <a style="font-size:14px;color: aliceblue;" href="/logout">ออกจากระบบ</a>
        <% } else { %>
          <span>Guest</span>
          <a style="font-size:14px;color: aliceblue;" href="/login">เข้าสู่ระบบ</a>
          <a style="font-size:14px;color: aliceblue;">/</a>
          <a style="font-size:14px;color: aliceblue;" href="/signup">สมัครสมาชิก</a>
          <% } %>
      </div>
      
      

    </div>
  </nav>
  <main class="main">
    <form action="/add_new_post" method="post">
      <div class="post-form">
        <div class="post-header">
          <h2>สร้างกระทู้</h2>
        </div>
        <div class="post-content">
          <input type="text" ip="topic"name="topic" style="font-size: 22px;" placeholder="หัวข้อกระทู้" required>
          <br>
          <textarea id="details" name="details" placeholder="เนื้อหากระทู้" required></textarea>
          <br>
          <label for="post-image">รูปภาพ:</label>
          <input type="file"name="post_pic" accept="image/png, image/jpeg">
          <span>
            <button style="background-color: green;" type="submit" >โพสต์</button>
            <button style="background-color: red;" type="button" >ยกเลิก</button>
          </span>
        </div>
      </div>
    </form>
  </main>
  <script src="script.js"></script> //slide bar affect
</body>

</html>